	body{
	font-family: monospace;
    color: #404040;
	}


	
	.background{
	background-color: lightgray;
	}

	.content{
	margin: 0 auto;
	}
	
	h1{
	text-align: center;
	margin: 0 auto;
	}
	
