body{
    height: 100%;
    background: #85BDBF;
    font-family: monospace;
    color: #404040;
    font-size: 20px;
}

header{
	text-align: center;
	background: black;
	color: lightgray;
}
.content{
	margin: 0 auto;
}
.login .content{
	border-radius: 5%;
	border: .5em solid white ;
	background: white;
}

input{
	margin-bottom: .3em;
}