body {
	background: #85BDBF;
	font-family: monospace;
	color: #404040;
	font-size: 20px;
}

header {
	text-align: center;
	background: black;
	color: lightgray;
}



.login .content {
	border-radius: 5%;
	border: .5em solid white;
	background: white;
}

input {
	margin-bottom: .3em;
}

.login a {
	text-decoration: none;
	color: black;
}
footer{
	margin-top: 5em;;
	font-size: .7em;
}
.games{
	margin-top: 5em;
}
.cop{
	font-size: .6em;
}
.games .content{
	margin-top: 1em;
	padding: 0;
}
.login{
	margin-top: 4em;
}
h1:hover {
	color: lightgray;
}