
header{

	background: black;
	color: lightgray;
	margin-bottom: 7em;;
}

.register .content{
	border-radius: 5%;
	border: .5em solid white ;
	background: white;
}

input{
	margin-bottom: .3em;
}
footer{
	margin-top: 20em;
}

	
	