<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>GuessNumber</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/games.css">
<link rel="stylesheet" href="/css/guessnumberStyle.css">
</head>
<body>
	<header>
		<div th:if="${not @mainController.logged}">
			You are not logged! Please <a href="/">log in</a>
		</div>


		<div th:if="${@mainController.logged}">
			You are logged as <span
				th:text="${@mainController.loggedPlayer.name}"></span><a
				href="/logout"> Log out</a><br />
		</div>



		<div>
			<a href="/"><h4>Game Studio</h4></a>
		</div>


	</header>

	<h1>GuessNumber</h1>

	<div class="container gameOption">
		<div class="row">

			<div class="col-4">
				<a href="/guessnumber"><button>New game</button>
					<br></a>
			</div>


			<div class="col-4">
				<span>Game rating:</span> <span
					th:text="${@guessNumberController.averageRating}"></span>


			</div>

			<div class="col-4">
				<ul class="rating list-group list-group-horizontal"
					th:if="${@mainController.logged}">
					<li class="list-group-item"><a href="product/list.html"
						th:href="@{/guessnumber/rate?rating=1}">*</a></li>
					<li class="list-group-item"><a href="product/list.html"
						th:href="@{/guessnumber/rate?rating=2}">*</a></li>
					<li class="list-group-item"><a href="product/list.html"
						th:href="@{/guessnumber/rate?rating=3}">*</a></li>
					<li class="list-group-item"><a href="product/list.html"
						th:href="@{/guessnumber/rate?rating=4}">*</a></li>
					<li class="list-group-item"><a href="product/list.html"
						th:href="@{/guessnumber/rate?rating=5}">*</a></li>
				</ul>
			</div>
		</div>


	</div>

	<div class="container">
		<div class="row">
			<div class="content">


				<div th:if="${@guessNumberController.playing}">
					Enter your guess from 0 to <span
						th:text="${@guessNumberController.maxNum}"> </span> : <br />
				</div>





				<div
					th:if="${@guessNumberController.guess!=@guessNumberController.random}">
					<div th:utext="${@guessNumberController.htmlField}"></div>
				</div>
				<div th:if="${@guessNumberController.guess!=-1}">

					<div class="gameOption"
						th:utext="${@guessNumberController.message}"></div>
				</div>


			</div>
		</div>
	</div>


	<div class="section">
		<div class="container">

			<div class="row">


				<div th:if="${not @mainController.logged}" class="col-12">
					<div class="content">
						<h5>Scores:</h5>

						<ol class="list-group">

							<li class="list-group-item"
								th:each="score : ${@guessNumberController.scores}"><span
								th:text="${score.ident}"></span> <span
								th:text="${score.username}"></span> <span
								th:text="${score.value}"></span></li>
						</ol>
					</div>

				</div>

				<div th:if="${@mainController.logged}" class="col-6">
					<div class="content">
						<h5>Scores:</h5>

						<ol class="list-group">

							<li class="list-group-item"
								th:each="score : ${@guessNumberController.scores}"><span
								th:text="${score.ident}"></span> <span
								th:text="${score.username}"></span> <span
								th:text="${score.value}"></span></li>
						</ol>
					</div>

				</div>


				<div th:if="${@mainController.logged}" class="col-6">
					<div class="content">
						<h5>Enter your comment:</h5>
						<form action="/guessnumber/comment">
							<textarea class="form-control rounded-0" name="comment" required></textarea>
							<br /> <input type="submit" value="Comment" />

						</form>

					</div>
				</div>


			</div>
			<div class="container">
				<div class="row">
					<div class="col-12">


						<h5>Comments:</h5>
						<ol class="list-group">

							<li class="list-group-item"
								th:each="comment : ${@guessNumberController.comment}"><span
								th:text="${comment.ident}"></span> <span
								th:text="${comment.username}"></span> <span
								th:text="${comment.game}"></span><br /> <span
								class="commenttext" th:text="${comment.content}"></span></li>
						</ol>

					</div>

				</div>
			</div>
		</div>
	</div>

</body>
</html>
