<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Gamestudio</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
	<link rel="stylesheet" href="/css/games.css">
<link rel="stylesheet" href="/css/indexStyle.css" />
</head>
<body>




	<header>
		<div th:if="${@mainController.logged}">
			<small>You are logged as </small><small
				th:text="${@mainController.loggedPlayer.name}"></small> <a
				href="/logout"> Log out</a><br />
		</div>
		<div th:if="${not @mainController.logged}">
			<small>You are not logged!</small>
		</div>

		<div class="container">
			<h1>Welcome to Game Studio</h1>
		</div>


	</header>

	<section class="login" th:if="${not @mainController.logged}">
		<div class="container">
			<div class="row">
				<div class="content">

					<form action="/login">

						<div class="column">
							<label> Username: </label> <br /> <input type="text" name="name"
								required />

						</div>

						<div class="column">
							<label> Password: </label> <br /> <input type="password"
								name="passwd" required />
						</div>

						<input type="submit" value="login" />
						<button>
							<a href="/registration">register</a>
						</button>


					</form>

				</div>
			</div>
		</div>
	</section>

	<section class="games">
		<div class="container">
			<div class="row">
				<div class="content">
					<div class="content">
						<div class="col-4">
							<div>
								<a href="/minesweeper"><img src="/images/mines/mines.png"
									width="180px" alt="mines"></a>
							</div>
<!-- 							<a href="/minesweeper"><button>Minesweeper</button></a> -->
						</div>
					</div>
				</div>
				<div class="content">
					<div class="content">
						<div class="col-4">
							<div>
								<a href="puzzle"><img
									src="/images/puzzle/thePuzzle.png" width="180px" alt="puzzle"></a>
							</div>
<!-- 							<a href="/puzzle"><button>Puzzle</button></a> -->
						</div>
					</div>
				</div>
				<div class="content">
					<div class="content">
						<div class="col-4">
							<div>
								<a href="/guessnumber"><img
									src="/images/guessnumber/guessnumber.jpg" width="180px"
									alt="guessnumber"></a>
							</div>
<!-- 							<a href="/guessnumber"><button>Guessnumber</button></a> -->
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

</body>
</html>

