<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Puzzle</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/games.css">
<link rel="stylesheet" href="/css/minesStyle.css">
</head>
<body>
	<header>
		<div th:if="${not @mainController.logged}">
			You are not logged! Please <a href="/">log in</a>
		</div>


		<div th:if="${@mainController.logged}">
			You are logged as <span
				th:text="${@mainController.loggedPlayer.name}"></span><a
				href="/logout"> Log out</a><br />
		</div>



		<div>
			<a href="/"><h4>Game Studio</h4></a>
		</div>


	</header>



	<h1>Minesweeper</h1>

	<!-- comment -->

	
		<div class="container">
			<div class="row">
				<div class="content">
					<div class="col-4">
						<a href="/minesweeper">New game </a> <br /> <a
							href="/minesweeper/switchMarking">marking: </a> <span
							th:text="${@minesweeperController.marking}"></span>
					</div>
				</div>
				<div class="content">
					<div class="col-4">
						<div>Game rating:</div>
						
						<span  th:text="${@minesweeperController.averageRating}"></span>
					</div>
				</div>
				<div class="content">
				<div class="col-4">
					<ul class="rating list-group list-group-horizontal" th:if="${@mainController.logged}">
						<li class="list-group-item"  ><a th:href="@{/minesweeper/rate?rating=1}">*</a></li>
						<li class="list-group-item" ><a th:href="@{/minesweeper/rate?rating=2}">*</a></li>
						<li class="list-group-item" ><a  th:href="@{/minesweeper/rate?rating=3}">*</a></li>
						<li class="list-group-item" ><a  th:href="@{/minesweeper/rate?rating=4}">*</a></li>
						<li class="list-group-item" ><a th:href="@{/minesweeper/rate?rating=5}">*</a></li>
						</ul>
				</div>
			</div>
			</div>
		</div>
	



	<!-- game -->

	<div class="container">
		<div class="row">

			<div class="content">
				<div th:utext="${@minesweeperController.htmlField}"></div>
			</div>

			<div th:if="${@minesweeperController.getStatus()==SOLVED}">You
				WON!</div>
		</div>
	</div>
	<div class="container">

		<div class="row">


			<div th:if="${not @mainController.logged}" class="col-12">
				<div class="content">
					<h5>Scores:</h5>

					<ol class="list-group">

						<li class="list-group-item"
							th:each="score : ${@minesweeperController.scores}"><span
							th:text="${score.ident}"></span> <span
							th:text="${score.username}"></span> <span
							th:text="${score.value}"></span></li>
					</ol>
				</div>

			</div>

			<div th:if="${@mainController.logged}" class="col-6">
				<div class="content">
					<h5>Scores:</h5>

					<ol class="list-group">

						<li class="list-group-item"
							th:each="score : ${@minesweeperController.scores}"><span
							th:text="${score.ident}"></span> <span
							th:text="${score.username}"></span> <span
							th:text="${score.value}"></span></li>
					</ol>
				</div>

			</div>


			<div th:if="${@mainController.logged}" class="col-6">
				<div class="content">
					<h5>Enter your comment:</h5>
					<form action="/minesweeper/comment">
						<textarea class="form-control rounded-0" name="comment" required></textarea>
						<br /> <input type="submit" value="Comment" />

					</form>

				</div>
			</div>


		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">


					<h5>Comments:</h5>
					<ol class="list-group">

						<li class="list-group-item"
							th:each="comment : ${@minesweeperController.comment}"><span
							th:text="${comment.ident}"></span> <span
							th:text="${comment.username}"></span> <span
							th:text="${comment.game}"></span><br /> <span
							class="commenttext" th:text="${comment.content}"></span></li>
					</ol>

				</div>

			</div>
		</div>
	</div>
</body>
</html>
