<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Puzzle</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script th:replace="fragments/header :: commonLinks"></script>
<link rel="stylesheet" href="/css/minesStyle.css">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>



	<h1>Minesweeper</h1>

	<!-- comment -->




	<div id="game">

		<div class="container">
			<div class="row">
				<div class="content">
					<div class="col-12">
						<a href="/minesweeper/switchMarking"><button>marking:
							</button> </a><span class="gameOption"
							th:text="${@minesweeperController.marking}"></span>
					</div>
				</div>

			</div>
		</div>




		<!-- game -->






		<div class="container">
			<div class="row">

				<div class="content">
					<div th:if="${@minesweeperController.getStatus() != SOLVED}"
						th:utext="${@minesweeperController.htmlField}"></div>




					<!-- GAME OPTION -->

					<div class="gameOption">
						<a href="/minesweeper"><button>New game</button></a> <span
							class="gr rating">Game rating:</span> <span class="rating"
							th:text="${@minesweeperController.averageRating}"></span>

						<div class= "gr" th:if="${@mainController.logged}">

							<span>Rate the game:</span><br />

						</div>

						<ul class="rating list-group list-group-horizontal"
							th:if="${@mainController.logged}">
							<li><a th:href="@{/minesweeper/rate?rating=1}">*</a></li>
							<li><a th:href="@{/minesweeper/rate?rating=2}">*</a></li>
							<li><a th:href="@{/minesweeper/rate?rating=3}">*</a></li>
							<li><a th:href="@{/minesweeper/rate?rating=4}">*</a></li>
							<li><a th:href="@{/minesweeper/rate?rating=5}">*</a></li>
						</ul>


					</div>




				</div>

			</div>
		</div>
	</div>

<!-- 				<div th:if="${@minesweeperController.getStatus() == SOLVED}">You -->
<!-- 					WON!</div> -->






	<div class="section">
		<div class="container">

			<div class="row">


				<div th:if="${not @mainController.logged}" class="col-12">
					<div class="content">
						<h5>Scores:</h5>

						<ol class="list-group">

							<li class="list-group-item"
								th:each="score : ${@minesweeperController.scores}"><span
								th:text="${score.username}"></span> <span
								th:text="${score.value}"></span></li>
						</ol>
					</div>

				</div>

				<div th:if="${@mainController.logged}" class="col-6">
					<div class="content">
						<h5>Scores:</h5>

						<ol class="list-group">

							<li class="list-group-item"
								th:each="score : ${@minesweeperController.scores}"><span
								th:text="${score.username}"></span> <span
								th:text="${score.value}"></span></li>
						</ol>
					</div>

				</div>


				<div th:if="${@mainController.logged}" class="col-6">
					<div class="content">
						<h5>Enter your comment:</h5>
						<form action="/minesweeper/comment">
							<textarea class="form-control" name="comment" required></textarea>
							<br /> <input type="submit" value="Comment" />

						</form>

					</div>
				</div>


			</div>
			<div class="container">
				<div class="row">
					<div class="col-12 coment">


						<h5>Comments:</h5>
						<ol class="list-group">

							<li class="list-group-item"
								th:each="comment : ${@minesweeperController.comment}"><span
								th:text="${comment.ident}"></span> <span
								th:text="${comment.username}"></span> <span
								th:text="${comment.game}"></span><br /> <span
								class="commenttext" th:text="${comment.content}"></span></li>
						</ol>

					</div>

				</div>
			</div>

		</div>
	</div>

	<div th:replace="fragments/header :: footer"></div>
</body>
</html>
