<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Puzzle</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/games.css">
<link rel="stylesheet" href="/css/puzzleStyle.css">
</head>
<body>

	<div th:replace="fragments/header :: header"></div>



	<h1>Puzzle</h1>


	

	<!-- <div th:text="${@puzzleController.message}" /> -->

	<div id="game">
		<div class="container">
			<div class="row">

				<div th:if="${not @puzzleController.solved}" class="content">

					

						<div th:utext="${@puzzleController.htmlField}"></div>

					


					<div class="gameOption">
						<a href="/puzzle"><button>New game</button></a> <span
							class="gr rating">Game rating:</span> <span class="rating"
							th:text="${@puzzleController.averageRating}"></span>

						<div class="gr" th:if="${@mainController.logged}">

							<span>Rate the game:</span><br />

						</div>

						<ul class="rating list-group list-group-horizontal"
							th:if="${@mainController.logged}">
							<li><a th:href="@{/puzzle/rate?rating=1}">*</a></li>
							<li><a th:href="@{/puzzle/rate?rating=2}">*</a></li>
							<li><a th:href="@{/puzzle/rate?rating=3}">*</a></li>
							<li><a th:href="@{/puzzle/rate?rating=4}">*</a></li>
							<li><a th:href="@{/puzzle/rate?rating=5}">*</a></li>
						</ul>


					</div>










				</div>

			</div>
		</div>

		<div class="container">
			<div class="row">

				<div th:if="${@puzzleController.solved}" class="content">
				
					
						<img alt="puzzle" class="img-fluid"
							src="/images/puzzle/puzzle.jpg">
					
					
					<div class="gameOption">
						<a href="/puzzle"><button>New game</button></a> <span
							class="gr rating">Game rating:</span> <span class="rating"
							th:text="${@puzzleController.averageRating}"></span>

						<div class="gr" th:if="${@mainController.logged}">

							<span>Rate the game:</span><br />

						</div>

						<ul class="rating list-group list-group-horizontal"
							th:if="${@mainController.logged}">
							<li><a th:href="@{/puzzle/rate?rating=1}">*</a></li>
							<li><a th:href="@{/puzzle/rate?rating=2}">*</a></li>
							<li><a th:href="@{/puzzle/rate?rating=3}">*</a></li>
							<li><a th:href="@{/puzzle/rate?rating=4}">*</a></li>
							<li><a th:href="@{/puzzle/rate?rating=5}">*</a></li>
						</ul>


					</div>
				</div>



			</div>
		</div>









	</div>


	<div class="section">
		<div class="container">

			<div class="row">


				<div th:if="${not @mainController.logged}" class="col-12">
					<div class="content">
						<h5>Scores:</h5>

						<ol class="list-group">

							<li class="list-group-item"
								th:each="score : ${@puzzleController.scores}"><span
								th:text="${score.ident}"></span> <span
								th:text="${score.username}"></span> <span
								th:text="${score.value}"></span></li>
						</ol>
					</div>

				</div>

				<div th:if="${@mainController.logged}" class="col-6">
					<div class="content">
						<h5>Scores:</h5>

						<ol class="list-group">

							<li class="list-group-item"
								th:each="score : ${@puzzleController.scores}"><span
								th:text="${score.ident}"></span> <span
								th:text="${score.username}"></span> <span
								th:text="${score.value}"></span></li>
						</ol>
					</div>

				</div>


				<div th:if="${@mainController.logged}" class="col-6">
					<div class="content">
						<h5>Enter your comment:</h5>
						<form action="/puzzle/comment">
							<textarea class="form-control" name="comment" required></textarea>
							<br /> <input type="submit" value="Comment" />

						</form>

					</div>
				</div>


			</div>
			<div class="container">
				<div class="row">
					<div class="col-12 coment">


						<h5>Comments:</h5>
						<ol class="list-group">

							<li class="list-group-item"
								th:each="comment : ${@puzzleController.comment}"><span
								th:text="${comment.ident}"></span> <span
								th:text="${comment.username}"></span> <span
								th:text="${comment.game}"></span><br /> <span
								class="commenttext" th:text="${comment.content}"></span></li>
						</ol>

					</div>

				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/header :: footer"></div>
</body>
</html>
